.users-container{
    margin: 30px 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.users{
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
   
    
}
.users img{
    width: 60px;
}


app-user{
    background-color: brown;
    margin: 10px;
}
